*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.box-1 {
	
	height: 150px;
	background-color: #41a8c7;

}

.box-2 {
	
	height: 150px;
	background-color: #5bbfb3;

}
.box-3{
	height: 300px;
	background-color: #41a8c7;


}
.box-4 {
	
	height: 150px;
	background-color: #5bbfb3;

}
.box-5 {
	
	height: 150px;
	background-color: #41a8c7;

}
.box-6 {
	
	height: 465px;
	background-color: #5bbfb3;

}
.box-7 {
	
	height: 150px;
	background-color: #41a8c7;

}
.box-8 {
	
	height: 150px;
	background-color: #5bbfb3;

}
.box-9 {
	
	height: 150px;
	background-color: #41a8c7;

}